@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

h1{
    color: blueviolet;
    text-align: center;
    padding-top: 4%;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

.movie-item{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item{
    text-align: center;
}